body {
    background-color: #ffffff;
}

.navbar {
    background-color: #27ae60;
}

.navbar-green {
    background-color: #b8e994;

    color: #27ae60;
}

.navbar-white {
    background-color: #f1f2f6;
}

.center {
    text-align: center;
}

.right {
    align-content: center;
}

.text-color-1 {
    color: #27ae60;
}